<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HappySad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED0E47F71C4A61710063CD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED0E480B1C4A61720063CD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED0E48161C4A61720063CD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
